.yellow-field {
    background-color: yellow;
}

.bold-field {
    font-weight: bold;
}

.instructions {
    border: 2px solid black;
    padding: 5px;
}

h1 {
    background-color: green;
    padding: 10px;
    color: white;
}
